/*
Color Palette:
background color:  #3A3845
font color:        #F7CCAC
secondary color:   #C69B7B
tertiary color:    #826F66
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300&display=swap');

html {
    font-size: 62.5%;    /* Default font size is 16px -  62.5% of 16 is 10px -
                            1 rem (relative unit) now will be equivalent to 10px} */
}

body {
    background-color: #3A3845;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    color: #F7CCAC;
    text-align: center;
    border-bottom: 2px solid #826F66;
    border-right: 2px solid #826F66;
    border-left: 2px solid #826F66;
    width: 80%;
    margin: 2rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}


.gallery {
    display: flex;
    flex-wrap:  wrap;
}

.imageCard {
    background-color: #826F66;
    color: #000;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5rem;
    transition: all 1s;
}

.imageCard a {
    text-decoration: none;
    color: #C69B7B;
}

.imageCard img {
    max-width: 100%;
    /* height: auto; */
}

/*
.imageCard:hover {
    transform: scale(1.1);
}
*/

.cardText {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
